:root {
    --credits-coloring: #ffffff;
    --credits-opacity: 20%;
}

.credits { 
    * {
        color: var(--credits-coloring);
    }

    img {
        display: inline-block;
        vertical-align: middle;
	height: 5vh;
	width: 5vh;
    }
}

.credits {
    color: var(--credits-coloring);
    opacity: var(--credits-opacity);
    background-image: none;
    box-shadow: none;
    justify-content: center;
    text-align: center;
    padding-top: 3vh;
}
