.source {
	display: inline-block;
	background-color: #00000099;
	position: fixed;
	float: top;
	border-bottom-left-radius: 1vh;
	border-bottom-right-radius: 1vh;
	padding-left: 0.1vh;
	padding-right: 0.1vh;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	background-image: none;
	z-index: 1;
}

.source * {
	padding-bottom: 0.1vh;
	padding-top: 0.1vh;
	margin: 0px;
	background-image: none;
	height: 5vh;
	width: 5vh;
}

.source a:hover, .source a *:hover {
        background-image: none;
	transform: scale(1.2);
}

.source *:first-child {
	padding-left: 1vh;
}

.source *:last-child {
	padding-right: 1vh;
}
