:root {
	--body-coloring: #524e67;
	--div-background-coloring: linear-gradient(70deg, #5b5f83, #67537a);
	--text-coloring: linear-gradient(45deg, rgb(255, 234, 253), rgb(235, 251, 255));
	--text-shadowing: rgba(255, 211, 107, 0.233);
	--code-coloring: linear-gradient(45deg, rgb(211, 255, 196), rgb(147, 255, 129));
	--code-shadowing: #ffffff00;
	--link-coloring: linear-gradient(45deg, rgb(242, 196, 255), rgb(234, 129, 255));
	--link-highlight: linear-gradient(45deg, rgb(251, 237, 255), rgb(245, 193, 255));
	--link-shadowing: #f453ff22;
}

::selection {
	color: #f14e8f;
	background-color: #0000002f;
}

html {
	height: 100%;
	width: 98%;
}

* {
	transition: all 0.3s ease;
}

body {
	font-family: monospace;
	font-size: 2vh;
	background-color: var(--body-coloring);
	height: 95%;
	width: 100%;
	margin-top: 0;
}

body div div, h1, b, h2, h3, hr, p, ul, code, a {
	-webkit-background-clip: text;
	-moz-background-clip: text;
	-webkit-text-fill-color: transparent;
	-moz-text-fill-color: transparent;
	background-image: var(--text-coloring);
	background-size: 100%;
	background-clip: text;
	text-shadow: 0.2vh 0.2vh 0.5vh var(--text-shadowing);
}

body div {
	background-image: var(--div-background-coloring);
	background-size: 100%;
	border-radius: 3vh;
	margin-top: 2vh;
	padding-bottom: 4vh;
	overflow-y: auto;
	overflow-x: hidden;
	padding: 1vh;
	margin: 0 auto;
	box-shadow: 0px 0px 7vh #00000069;
}

.central {
    max-height: 80%;
    max-width: 80%;
}

body div div {
	margin: 0 auto;
	margin-bottom: 5vh;
	box-shadow: 0px 0px;
	border-radius: 0px;
}

.content {
	float: left;
}

.content img {
	border-radius: 3vh;
	border: 0.3vh solid #ffffff40;
	background-color: #46253969;
	height: 20vh;
}

.index {
	float: left;
	margin: 1vh;
}

hr {
	background: var(--text-coloring);
	width: 100%;
	height: 0.2vh;
	border: 0;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
}

a, a * {
	background-image: var(--link-coloring);
	text-shadow: 0.2vh 0.2vh 0.5vh var(--link-shadowing);
}

a:hover, a *:hover {
	background-image: var(--link-highlight);
}

code, code * {
	background-image: var(--code-coloring);
	text-shadow: 0.2vh 0.2vh 0.5vh var(--code-shadowing);
}

.freespace {
	height: 10vh;
	opacity: 0;
}
