<div class="credits">
    <img src="res/img/eepy.svg" alt=":cat:" />
     By Chimmie Firefly
</div>
<a rel="me" href="https://fearness.org/@gameplayer" hidden="true">Mastodon</a>
<a rel="me" href="https://mrrp.chimmie.k.vu/@gameplayer" hidden="true">Mrrp instance</a>
<div class="credits">
    <a href="https://fediring.net/previous?host=chimmie.k.vu"><b>&lt;</b></a>
    <a href="https://fediring.net">&nbsp;<b>Fediring.net</b>&nbsp;</a>
    <a href="https://fediring.net/next?host=chimmie.k.vu"><b>&gt;</b></a>
</div>
<div class="credits">
    <a href="https://fediring.net/random" class="fediring-lucky"><b>I'm feeling lucky, uwu</b></a>
</div>
