<div class="source">
	<a href="https://codeberg.org/GamePlayer-8/pages"><img alt=":source_code:" src="res/img/source.svg" height="35"/></a>
	<a href="https://codeberg.org/GamePlayer-8/pages/archive/pages.zip"><img alt=":pages_zip:" src="res/img/zip.svg" height="35"/></a>
</div>
